@use './../utils' as *;

#footer {
    // background-color: #000;
    width: 100%;

    .inner {
        height: 250px;
    }
    h2 {
        padding-top: 80px;
        font-size: 20px;
        color: #fff;
    }
}
