@use './../utils' as *;

#footer {
    background-color: #fff;
    width: 100%;
    padding-top: 50px;
    .txt-loop {
        color: #000;
        font-size: 64px;
        font-weight: 800;
        display: flex;
        gap: 30px;
        white-space: nowrap;
        &.loop1 {
            margin-bottom: 20px;
        }
        &.loop2 {
        }
    }
    .inner {
        padding-top: 120px;
        height: 650px;
        color: #000;
    }
    strong {
        display: block;
        text-align: center;
        line-height: 2;
        font-size: 24px;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 280px;
            height: 280px;
            border: 1px solid #cdcdcd;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            animation: rot 10s linear infinite;
        }
        @keyframes rot {
            from {
                transform: translate(-50%, -50%) rotate(0);
            }
            to {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
    h2 {
        text-align: center;
        margin-top: 100px;
        font-size: 40px;
        font-family: 'Hedvig Letters Serif';
        margin-bottom: 30px;
    }
    .contacts {
        display: flex;
        justify-content: center;
        gap: 80px;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            img {
                transform: scale(0.9);
            }
            span {
                font-size: 24px;
            }
        }
    }
    .copy {
        margin-top: 120px;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
}
