@use './../utils' as *;

html.is-active {
    overflow-y: hidden;
}
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    // background: rgba(0, 0, 0, 0.5);
    .inner {
        padding: 20px 40px;
        height: 150px;
        display: flex;
        justify-content: space-between;
    }
    h1 {
        a {
            img {
                width: 100px;
            }
        }
    }
    .menu {
        width: 40px;
        height: 40px;
        position: relative;
        cursor: pointer;
        margin-top: 20px;
        &:hover {
            span {
                &:nth-child(2) {
                    width: 50px;
                }
            }
        }
        span {
            display: block;
            width: 50px;
            height: 2px;
            background: #c0c0c0;
            position: absolute;
            right: 0;
            transition: 0.4s;
            &:nth-child(1) {
                top: 12px;
            }
            &:nth-child(2) {
                width: 35px;
                bottom: 12px;
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(-45deg) translateY(10px);
                }
                &:nth-child(2) {
                    width: 50px;
                    transform: rotate(45deg) translateY(-10px);
                }
            }
        }
    }

    .nav {
        position: absolute;
        transition: 0.8s;
        right: -10%;
        top: 33%;
        transform: translateX(0);
        opacity: 0;
        pointer-events: none;
        &.show {
            right: 50%;
            transform: translateX(50%);
            opacity: 1;
            pointer-events: auto;
        }
        ul {
            display: flex;
            // flex-direction: column;
            justify-content: flex-end;
            align-items: end;
            gap: 80px;
            li {
                // margin-left: 80px;
                position: relative;
                &:nth-child(3) {
                    // text-indent: 10px;
                    padding-left: 21px;
                }
                a {
                    font-size: 18px;
                    font-weight: 800;
                    transition: 0.3s;
                    color: #c0c0c0;
                    &.flip-animate {
                        perspective: 1000px;

                        span {
                            position: relative;
                            display: inline-block;
                            padding: 0;
                            transition: transform 0.3s;
                            transform-origin: 50% 0;
                            transform-style: preserve-3d;
                        }

                        span:before {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            content: attr(data-hover);
                            transition: color 0.3s;
                            transform: rotateX(-90deg);
                            transform-origin: 50% 0;
                            text-align: center;
                        }

                        &:hover span {
                            transform: rotateX(90deg) translateY(-22px);
                        }

                        &:hover span:before {
                            color: #ff9999;
                        }
                    }
                    img {
                        width: 20px;
                        margin-right: 1px;
                        position: absolute;
                        left: 0;
                        top: 3px;
                    }
                    &:hover {
                        img {
                            filter: invert(0.4);
                        }
                    }
                }
                // &:last-child span {
                //     font-size: 16px;
                //     border-radius: 50%;
                //     display: block;
                //     position: absolute;
                //     right: -20px;
                //     top: -5px;
                //     width: 20px;
                //     height: 20px;
                //     background-color: #000;
                //     color: #fff;
                //     text-align: center;
                //     line-height: 20px;
                // }
            }
        }
    }

    .top-menu {
        position: absolute;
        right: 0;
        top: 10px;
        display: flex;
        li {
            margin-left: 25px;
            a {
                font-size: 15px;
            }
        }
    }

    // hader end

    @include tablet {
        background: pink;
        .inner {
            height: 70px;
            width: 100%;
        }
        h1 {
            left: 10px;
            a img {
                width: 40px;
            }
        }
        .nav ul li {
            margin-left: 40px;
            a {
                font-size: 16px;
            }
        }
    }
} //header end
