.whoami {
    background: #000;
    .inner {
        height: 1020px;
        padding: 200px 0;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 90px;
    }
    span {
        display: block;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        animation: move 2s ease-in-out infinite;
        position: relative;
        font-family: 'Hedvig Letters Serif';
        &::after {
            content: '';
            background-image: url('/images/clarity_arrow-line.png');
            background-position: 0 0;
            background-size: cover;
            width: 48px;
            height: 48px;
            filter: invert(1);
            display: block;
            position: absolute;
            left: 50%;
            top: -150%;
            transform: translateX(-50%) scale(0.5);
        }
    }
    @keyframes move {
        0% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    p {
        text-align: center;
        margin-top: 80px;
        font-size: 20px;
    }
    .p-box {
        width: 735px;
        height: 390px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(5deg);
        background: #fff;
        z-index: 1;
        transition: 0.6s;
        opacity: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.1fr 0.9fr;
        padding: 20px 30px;
        &::before,
        &::after {
            content: '';
            display: block;
            width: 735px;
            height: 1px;
            background: #000;
            position: absolute;
            top: 20px;
        }
        &::after {
            top: 370px;
        }
        .box {
            border-right: 1px solid #000;
            border-left: 1px solid #000;
            color: #000;
            h3 {
                border-bottom: 1px solid #000;
                text-indent: 20px;
                font-family: 'Hedvig Letters Serif';
                font-size: 32px;
                line-height: 2;
            }
            table {
                margin: 12px auto;
                width: 90%;
                tr {
                    border-bottom: 1px solid #000;
                    &:last-child {
                        border: none;
                    }
                }
                td {
                    height: 34px;
                    vertical-align: middle;
                    &:first-child {
                        color: #bcbcbc;
                    }
                }
            }
        }
        .name {
            grid-column: 1 / 2;
            border-right: none;
        }
        .lic {
            grid-column: 2 / 3;
        }
        .edu {
            grid-column: 1 / -1;
            h3 {
                border-top: 1px solid #000;
            }
            table {
                margin-left: 20px;
                width: 94%;
            }
        }
        &.active {
            opacity: 1;
        }
    }
    .profile-box {
        border: 2px solid #fff;
        width: 735px;
        height: 390px;
        padding: 35px;
        box-sizing: border-box;
        position: relative;
        margin: auto;
        transform: rotate(-5deg);
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            width: 30px;
            height: 100px;
            background-image: url('/images/clip.png');
            background-position: 0 0;
            background-size: cover;
            position: absolute;
            top: -17%;
            transform: rotate(-20deg);
        }
        strong {
            display: block;
            font-family: 'Hedvig Letters Serif';
            font-size: 86px;
            line-height: 1.1;
            margin-bottom: 50px;
        }
        .s-tag {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
            li {
                font-size: 20px;
            }
        }
        .b-tag {
            display: flex;
            gap: 20px;
            li {
                font-size: 22px;
            }
        }
        .img-box {
            width: 210px;
            height: 270px;
            border: 2px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 35px;
            top: 35px;
            img {
                width: 94%;
                display: block;
            }
        }
    }
}
