.page {
    // min-height: 90vh;
    overflow: hidden;
}

.container {
    // max-width: 600px;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.circle-carousel {
    position: relative;
    padding-top: 100%;

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .slide {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0;
            // background: rgba(255, 0, 0, 0.3);
            transition: opacity 0.3s;
            h2 {
                position: absolute;
                top: 10%;
            }

            &.active {
                z-index: 1;
                opacity: 1;
            }
        }
    }

    .pagination {
        position: absolute;
        // top: 0;
        // bottom: 100;
        left: 50%;
        top: 90%;
        z-index: 1;
        width: 120%;
        height: 120%;
        border-radius: 50%;
        // border: 3px solid white;
        transition-property: transform;
        transition-timing-function: ease-out;
        pointer-events: none;
        user-select: none;
        // z-index: -100;
        .item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            .dot {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 400px;
                border-radius: 40px;
                pointer-events: auto;
                transition: 0.3s;
                background: brown;

                &:hover {
                    transform: translate(-50%, -50%) scale(1.05);
                    cursor: pointer;
                    background: white;
                    color: black;
                }
            }

            &.active {
                .dot {
                    background: white;
                    color: black;
                }
            }
        }
    }

    .next,
    .prev {
        position: absolute;
        top: 15%;
        z-index: 1;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        transition: 0.3s;
        user-select: none;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            border-style: solid;
            border-color: transparent black;
            transition: 0.3s;
        }

        &:hover {
            cursor: pointer;
            color: black;

            &:before {
                border-color: transparent white;
                transform: translate(-50%, -50%) scale(1.05);
            }
        }
    }

    .next {
        right: 5%;

        &:before {
            left: 65%;
            border-width: 30px 0 30px 70px;
        }
    }

    .prev {
        left: 5%;

        &:before {
            left: 35%;
            border-width: 30px 70px 30px 0;
        }
    }
}
