@use '../../styles/utils' as *;

.profile {
    position: relative;
    width: 100%;
    &.profile--cover {
        position: relative;
        width: 100%;
        height: 100vh; // pin되는 화면 높이
        // overflow: hidden; // 밖으로 나가는 패널 숨김
        .profile__panel {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;

            // 부드러운 렌더링 (선택)
            will-change: transform;
            &:nth-child(1) {
                z-index: 1;
            }
            &:nth-child(2) {
                z-index: 2;
            }
            &:nth-child(3) {
                z-index: 3;
            }
            &:nth-child(4) {
                z-index: 4;
            }
        }
    }
}
@include tablet {
    .about {
        .inner {
            padding: 2rem 0;
        }
        h2 {
            font-size: 2rem;
        }
    }
}
