@use '../../styles/utils' as *;

.profile {
    width: 100%;
    .basic-info {
        padding: 100px 0px;
    }
    h2 {
        // font-size: 4rem;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .inner {
        display: flex;
        gap: 80px;
        justify-content: center;
    }

    .txt {
        width: 800px;
        h3 {
            font-family: 'Hedvig Letters Serif';
            font-size: 64px;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            line-height: 1.2;
        }
        dl {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            dt {
                font-weight: 200;
            }
            dd {
                font-weight: 500;
                letter-spacing: 0.5px;
                color: #dcdcdc;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .left {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .right {
    }
}
@include tablet {
    .about {
        .inner {
            padding: 2rem 0;
        }
        h2 {
            font-size: 2rem;
        }
    }
}

.hobby {
}
