@use '../../styles/utils' as *;

.profile {
    width: 100%;
}
@include tablet {
    .about {
        .inner {
            padding: 2rem 0;
        }
        h2 {
            font-size: 2rem;
        }
    }
}
