.experience {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;

    .sticky-header {
        position: absolute;
        inset: 50% auto auto 50%;
        transform: translate(-50%, -50%);
        h1 {
            font-size: 200px;
            font-weight: 600;
            color: transparent;
            -webkit-text-stroke: 2px #fff;
            white-space: nowrap;
            line-height: 1.1;
            span {
                display: block;
                text-indent: 200px;
            }
        }
    }

    .card {
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
        width: 640px;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.45);
        background: #fff;
    }

    .card-phase {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);
        padding: 4px 10px;
        font-size: 22px;
        border-radius: 6px;
        font-weight: 600;
        background: #fff;
        color: #000;
    }

    .card-title {
        text-align: center;
        p {
            font-size: 28px;
            margin-bottom: 6px;
        }
        h1 {
            font-size: 64px;
            font-weight: 300;
            span {
            }
        }
    }

    // #card-1 {
    //     background: #1e1e2f;
    //     color: #ecb74c;
    // }
    // #card-2 {
    //     background: #002b36;
    //     color: #7dd8cd;
    // }
    // #card-3 {
    //     background: #2f2f1e;
    //     color: #e0ff57;
    // }
    // #card-4 {
    //     background: #331e1e;
    //     color: #7dd8cd;
    // }

    .indices {
        position: absolute;
        right: 24px;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        opacity: 0;
    }

    .index {
        text-align: right;
        opacity: 0.25;
        p {
            font-size: 15px;
            text-decoration: line-through;
            margin: 2px 0;
        }
    }
}
