.motto {
    height: 900px;
    .inner {
        padding: 50px;
        text-align: center;
    }
    h2 {
        font-family: 'Hedvig Letters Serif';
        font-size: 150px;
        width: fit-content;
        letter-spacing: 5px;
    }
    .revealing-text {
        position: relative;
        display: inline-block;
        > span {
            &:nth-child(1) {
                color: rgb(226, 166, 184);
            }

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                transition: 0.6s;
                width: 100%;
                transform: translateX(-100%);
                overflow: hidden;

                > span {
                    transform: translateX(100%);
                    display: inline-block;
                    transition: inherit;
                }
            }
        }

        &.revealed {
            span {
                &:nth-child(2) {
                    transform: translateX(0);

                    > span {
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 60px;
        color: #a3a3a3;
    }
    // Start here
    .container {
        margin: auto;
        width: 90%;
        height: 500px;
        // background: #fff;
        // border-radius: 30px;
        overflow: hidden;
        transform: scale(1.2);
        // position: relative;
        filter: brightness(0.5);
    }
    .photo-container {
        position: relative;
        top: -90px; // Adjust
        left: -120px; // Adjust
        transform: rotate(10deg);
    }
    .photo-cont-item {
        display: flex;
        width: calc(380px * 6); // 320px + 60px margin
        .photo-item {
            width: 320px;
            height: 200px;
            margin-right: 60px;
            margin-bottom: 60px;
            border-radius: 16px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
        }
    }

    // Every row
    .animation-1 {
        animation: scroller 40s linear infinite;
        display: flex;
        width: calc(380px * 12);
    }
    .animation-2 {
        margin-left: 150px;
        animation: scroller 30s linear infinite;
        display: flex;
        width: calc(380px * 12);
    }
    .animation-3 {
        animation: scroller 50s linear infinite;
        display: flex;
        width: calc(380px * 12);
    }

    // Animations
    @keyframes scroller {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-380px * 6)); // 320px + 60px margin
        }
    }

    // All selected images
    .photo-1 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513400/Nature/image_18_lwam5y.jpg);
    }
    .photo-2 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513347/Nature/image_16_oqcpeb.jpg);
    }
    .photo-3 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513347/Nature/image_15_opmlwd.jpg);
    }
    .photo-4 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_14_nie14a.jpg);
    }
    .photo-5 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_13_kojf0w.jpg);
    }
    .photo-6 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_17_hngpby.jpg);
    }
    .photo-7 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_11_wcunjf.jpg);
    }
    .photo-8 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513346/Nature/image_9_stnpjs.jpg);
    }
    .photo-9 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_12_m3evi3.jpg);
    }
    .photo-10 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_10_euaoai.jpg);
    }
    .photo-11 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_7_apdkz1.jpg);
    }
    .photo-12 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_8_khwrpi.jpg);
    }
    .photo-13 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_5_vhwqqg.jpg);
    }
    .photo-14 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_2_nrbfpf.jpg);
    }
    .photo-15 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_4_qxw6i4.jpg);
    }
    .photo-16 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_3_ucohbw.jpg);
    }
    .photo-17 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_1_yitfy3.jpg);
    }
    .photo-18 {
        background-image: url(https://res.cloudinary.com/dzq1l03yt/image/upload/v1593513345/Nature/image_6_xcylqe.jpg);
    }
}
