.hobby {
    padding: 100px;
    background: #000;
    h2 {
        padding-bottom: 60px;
        text-align: center;
        font-size: 60px;
        font-family: 'Hedvig Letters Serif';
    }
    .inner {
        display: flex;
        justify-content: space-between;
    }
    .left-text {
        ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            li {
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -2px;
                    // // width: 100%;
                    // width: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    height: 70px;
                    background: #fff;
                    transition: 0.4s ease;
                    z-index: -1;
                }
                &:hover {
                    strong {
                        color: #000;
                    }
                    &::after {
                        transform: scaleX(100%);
                    }
                }
                &.on {
                    &::after {
                        transform: scaleX(100%);
                    }
                    strong {
                        color: #000;
                    }
                    p {
                        max-height: 180px; // desc 길이에 맞게 조절 (충분히 크게)
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
                strong {
                    display: block;
                    font-size: 46px;
                    font-weight: 700;
                    transition: 0.4s ease;
                    cursor: pointer;
                    width: 100%;
                }
                p {
                    margin-top: 20px;
                    padding-left: 5px;
                    max-height: 0; // 접힘
                    opacity: 0;
                    transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
                    white-space: pre-line;
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
    .right-img {
        .swiper {
            width: 1100px;
            height: 600px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #444;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-pagination-bullet {
            border-radius: 0;
            background: none;
            border: 1px solid #fff;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
    }
}
