.hobby {
    height: 100vh;
    width: 100%;
    background: #000;
    overflow: hidden;
    .hobby__track {
        height: 100%;
        display: flex;
        align-items: stretch;
        will-change: transform;
    }

    .hobby__slide {
        width: 100vw; // ✅ 한 장이 화면을 꽉 채우게 (권장)
        height: 100%;
        position: relative;
        flex: 0 0 100vw; // ✅ flex로 "슬라이드" 폭 고정
    }
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        li {
            // height: 100%;
            position: relative;
            .bg {
                overflow: hidden;
                position: absolute;
                z-index: 0;
                left: 0;
                top: 0;
                // width: 100%;
                img {
                    display: block;
                    width: 100%;

                    object-fit: cover;
                }
            }
            .inner {
                width: 1920px;
                // width: 100%;
                height: 100%;
                padding: 200px 50px;

                h3,
                p {
                    color: #fff;
                    white-space: pre-line;
                }
                h3 {
                    font-family: 'Hedvig Letters Serif';
                    font-size: 128px;
                    margin-bottom: 300px;
                }
                .imgs-wrap {
                    position: absolute;
                    right: 50px;
                    top: 200px;
                    display: flex;
                    gap: 10px;
                    img {
                        display: block;
                    }
                }
            }
        }
    }
}
