.skills {
    .inner {
        height: 1080px;
    }
    h2 {
        text-align: center;
        margin-bottom: 120px;
        font-size: 24px;
        font-weight: 500;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; // 좌우 2열 구조
        grid-template-rows: repeat(2, 1fr); // 위아래 2행
        gap: 35px; // 박스 간격
        width: 90%;
        height: 554px;
        margin: 0 auto;
        padding: 1rem;
        color: #000;
        // 공통 스타일
        .item {
            cursor: pointer;
            // border: 1px solid #fff;
            border-radius: 70px;
            padding: 30px 0 30px 40px;
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            strong,
            em {
                display: block;
                transition: opacity 0.4s ease;
            }
            strong {
                font-family: 'Hedvig Letters Serif';
                display: block;
                font-size: 96px;
                line-height: 1;
                z-index: 1;
            }
            em {
                z-index: 1;
                font-size: 20px;
            }
            &::before {
                content: '';
                display: block;
                background: #fff;
                border-radius: 100%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -100%;
                transition: 1s;
                z-index: 0;
            }
            &:hover {
                strong,
                em {
                    opacity: 0;
                }
                &::before {
                    left: -180%;
                    top: -250%;
                }
            }
            ul {
                display: flex;
                position: absolute;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
        // 4개 아이템 위치 지정
        .tools {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            position: relative;
            &::before {
                width: 900px;
                height: 900px;
                top: -170%;
            }
        }

        .frontend {
            padding: 50px 0 50px 60px;
            border-radius: 100px;
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            &::before {
                width: 1200px;
                height: 1200px;
            }
            ul {
                padding: 50px;
                gap: 60px;
                flex-wrap: wrap;
                top: 15px;
            }
        }

        .backend {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            justify-self: start;
            width: 60%;
            &::before {
                width: 600px;
                height: 600px;
            }
            ul {
                left: 20px;
            }
        }

        .ai {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            justify-self: end;
            width: 35%;
            &::before {
                top: -30%;
                width: 400px;
                height: 400px;
            }
        }
    }
}
