.con {
    .inner {
        width: 1400px;
        height: 1000px;
        margin: auto;
        box-sizing: border-box;
        position: relative;
        padding: 100px 0;
    }
}
.con2 {
    padding: 100px 0;
    position: relative;

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 130px;
    }

    .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-wrapper {
        width: max-content;
        padding: 0 150px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }

    .slide {
        width: 450px;
        height: 580px;
        overflow: hidden;
        background: #fff;
        position: relative;
        padding: 5px 0;
        cursor: pointer;

        .img-wrap {
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.5s ease;
            }
        }

        .txt {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            color: #000;
            h3 {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                font-weight: 600;
                font-size: 16px;
            }

            .links a {
                display: inline-block;
                margin-right: 10px;
                padding: 6px 12px;
                font-size: 13px;
                font-weight: 600;
                border-radius: 6px;
                background: #f0f0f0;
                color: #333;
                text-decoration: none;
                // transition: background 0.3s ease, transform 0.3s ease;

                // &:hover {
                //     background: #333;
                //     color: #fff;
                //     transform: translateY(-2px);
                // }
            }
        }
    }

    .marker-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        height: 100vh;
    }

    .marker {
        position: relative;
        width: 2px;
        height: 100%;
        background: #fff;

        &:after {
            position: absolute;
            content: '';
            top: 200px;
            left: -20px;
            width: 40px;
            height: 40px;
            background-color: #000;
            border: 2px solid #fff;
            border-radius: 100%;
        }
    }

    .active-slide {
        position: absolute;
        top: 210px;
        left: 40px;
        font-size: 15px;
    }
}
