//--기본 색
$white: #fff;
$black: #101010;
$dark-gray: #333;
$gray: #a0a0a0;
$dark-yellow: #ddff12;
$orange-red: #ff4f4f;
$light-orange: #ffaf40;
$red: #ed204b;
$blue: #3e69ff;
$coral-blue: #6254f4;
$dark-blue: #0f1e6f;
$light-blue: #6fa0ff;
$white-gray: #dbdbdb;
$light-gray: #a0a4b0;
$beige: #efe6d1;
$dark-green: #2f2f2f;
$daker-gray: #6c6c6c;
$gray-white: #f2f4f8;
$light-green: #03d800;
$light-purple: #c08fd6;

//--color name 재할당
$footer-bg: $dark-gray;
$footer-font: $gray;
$desc-font: $gray;
$status-red-font: $orange-red;
$status-blue-font: $blue;
$tag-blue-bg: $coral-blue;
$footer-border-color: $daker-gray;
$header-bg: $gray-white;
$main-bg: $gray-white;
