$steps: 20;

.intro {
    height: 100vh;
    overflow: clip;
    position: relative;
    .scrolldown {
        position: absolute;
        bottom: 3%;
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        font-weight: 500;
        font-size: 14px;
        padding-top: 2px;
        transition: 0.4s;
        &.hide {
            opacity: 0;
        }
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 20px;
            border: 1px solid #fff;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50px;
            top: -100%;
        }
        &::after {
            width: 1px;
            height: 1px;
            border-radius: 50%;
            background: #fff;
            top: -20px;
            animation: scrolldot 1.2s ease-in-out infinite forwards;
        }
        @keyframes scrolldot {
            0% {
                opacity: 0;
                // top: 0;
            }
            50% {
                opacity: 1;
            }
            100% {
                top: -5px;
                opacity: 0;
            }
        }
    }
    .inner {
        height: 100%;
        padding: 100px 0;
        z-index: 3;
    }
    h2 {
        font-size: 70px;
        margin-left: 200px;
        margin-top: 250px;
        font-family: 'Hedvig Letters Serif';
        font-weight: 400;
        animation: left-in 1s forwards;
    }
    @keyframes left-in {
        from {
            transform: translateX(-50%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes right-in {
        from {
            opacity: 0;
            transform: translateX(50%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .glitch {
        position: relative;
        font-size: 70px;
        font-family: 'Exo', sans-serif;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        transform: scale3d(1, 1, 1);
        width: 800px;
        margin-left: 195px;
        line-height: 1;
        animation: right-in 1s forwards;

        &::before,
        &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            background: transparent;
            clip: rect(0, 900px, 0, 0);
        }

        &::before {
            left: 7px;
            text-shadow: 1px 0 green;
            animation: glitch-effect 4s infinite linear alternate-reverse;
        }

        &::after {
            left: 3px;
            text-shadow: -1px 0 red;
            animation: glitch-effect 3s infinite linear alternate-reverse;
        }
    }

    @keyframes glitch-effect {
        @for $i from 0 through $steps {
            #{percentage($i*(1/$steps))} {
                clip: rect(random(100) + px, 9999px, random(100) + px, 0);
            }
        }
    }
}

.bg {
    position: absolute;
    top: -150px;
    left: -1px;
    z-index: 2;
    width: 100%;
    .bg-svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}
.intro-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: 1;
}
