.con {
    .inner {
        width: 1400px;
        height: 1000px;
        margin: auto;
        box-sizing: border-box;
        position: relative;
        padding: 100px 0;
    }
}
.con2 {
    padding: 100px 0;
    position: relative;

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 130px;
    }

    .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .slider-wrapper {
        width: max-content;
        padding: 0 150px;
        height: 100%;
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }

    .slide {
        width: 450px;
        height: 580px;
        overflow: hidden;
        // background: #fff;
        position: relative;
        padding: 5px 0;
        cursor: pointer;
        &:last-child {
            background: #fff;
            transition: 0.3s;
            .img-wrap {
                z-index: 0;
                transform: translateX(-50%) scale(0.06) rotate(90deg);
            }
            &::after {
                content: 'View More';
                display: block;
                // width: 60px;
                // height: 60px;
                // background-image: url('/images/clarity_arrow-line.png');
                background-position: 0 0;
                background-size: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: 0.6s;
                // filter: invert(1);
                font-family: 'Hedvig Letters Serif';
                font-size: 30px;
                text-align: center;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.6);
                .img-wrap {
                    display: none;
                }
                &::after {
                    opacity: 1;
                }
            }
            .txt {
                color: #000;
            }
        }
        .vod {
            position: absolute;
            width: 70%;
            height: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.4s;
            object-fit: cover;
            &.active {
                height: 146px;
                // animation: openV 0.5s ease-out forwards;
            }
        }
        @keyframes openV {
            0% {
                // transform: translate(-50%, -50%) scaleX(80%) scaleY(0);
            }
            // 55% {
            //     transform: translate(-50%, -50%) scaleX(80%) scaleY(10%);
            // }
            100% {
                transform: translate(-50%, -50%) scaleX(1) scaleY(80%);
            }
        }
        .img-wrap {
            width: 100%;
            // height: 300px;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                transition: transform 0.6s ease, filter 0.3s ease;
                &.img-hover {
                    transform: scale(1.1);
                    filter: brightness(0.6);
                }
            }
        }

        .txt {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            color: #fff;
            h3 {
                font-size: 16px;
                font-weight: 500;
            }

            p {
                font-weight: 500;
                font-size: 16px;
            }

            .links a {
                display: inline-block;
                margin-right: 10px;
                padding: 6px 12px;
                font-size: 13px;
                font-weight: 600;
                border-radius: 6px;
                background: #f0f0f0;
                color: #333;
                text-decoration: none;
                // transition: background 0.3s ease, transform 0.3s ease;

                // &:hover {
                //     background: #333;
                //     color: #fff;
                //     transform: translateY(-2px);
                // }
            }
        }
    }

    .marker-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: max-content;
        height: 100vh;
    }

    .marker {
        position: relative;
        width: 2px;
        height: 100%;
        background: #fff;

        &:after {
            position: absolute;
            content: '';
            top: 200px;
            left: -20px;
            width: 40px;
            height: 40px;
            background-color: #000;
            border: 2px solid #fff;
            border-radius: 100%;
        }
    }

    .active-slide {
        position: absolute;
        top: 210px;
        left: 40px;
        font-size: 15px;
    }
}
