.awards {
    position: relative;
    .inner {
        height: 2500px;
        position: relative;
        padding: 150px 0;
    }

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
    }
    p {
        text-align: center;
        font-size: 20px;
    }
    .awd {
        border: 1px solid #fff;
        width: 480px;
        height: 150px;
        font-family: 'Hedvig Letters Serif';
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 20px;
        position: relative;
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
        }
        &::before {
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            left: -15px;
            top: -15px;
        }
        &::after {
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            bottom: -15px;
            right: -15px;
        }
        strong {
            display: block;
            font-size: 40px;
        }
        em {
            white-space: pre-line;
            font-size: 18px;
        }
        &.awd2,
        &.awd3,
        &.awd5,
        &.awd6 {
            border: none;
            background: #fff;
            color: #000;
        }
        &.awd1 {
            margin-left: 180px;
            margin-top: 200px;
        }
        &.awd2 {
            margin-top: 120px;
            margin-left: 1200px;
        }
        &.awd3 {
            margin-top: 200px;
            margin-left: 250px;
        }
        &.awd4 {
            margin-top: 150px;
            margin-left: 1000px;
        }
        &.awd5 {
            margin-top: 180px;
            margin-left: 350px;
        }
        &.awd6 {
            margin-top: 120px;
            margin-left: 1250px;
        }
        &.awd7 {
            margin-left: 150px;
            margin-top: 100px;
        }
    }
}

.svg-container {
    position: absolute;
    top: -150px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3000px;

    svg {
        height: 100%;
        filter: invert(1);
    }
}
