.awards {
    position: relative;
    .inner {
        height: 700px;
        position: relative;
        padding: 150px 0;
    }

    h2 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
    }
    p {
        text-align: center;
        font-size: 20px;
    }
}

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3000px;

    svg {
        height: 100%;
        filter: invert(1);
    }
}
