.basic-info {
    height: 100vh;
    padding: 100px;
    box-sizing: border-box;
    background: #000;
    overflow: hidden;
    h2 {
        // font-size: 4rem;
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .inner {
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 60px;
        align-items: stretch;
    }

    .txt {
        width: 800px;
        h3 {
            font-family: 'Hedvig Letters Serif';
            font-size: 64px;
            border-bottom: 1px solid #fff;
            margin-bottom: 30px;
            line-height: 1.2;
        }
        dl {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            dt {
                font-weight: 200;
            }
            dd {
                font-weight: 500;
                letter-spacing: 0.5px;
                color: #dcdcdc;
                text-align: right;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .left {
        height: 100%;
        img {
            width: 500px;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    .right {
        height: 100%;
        overflow: hidden;
        position: relative;
        .right__track {
            // flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 60px;
            will-change: transform; // ✅ GSAP 이동 최적화
        }
        .txt {
            dl {
                margin-bottom: 15px;
            }
        }
    }
}
