.story {
    height: 100%;
    padding: 200px 0;
    transform-origin: top center;
}
.card {
    position: relative;
    display: grid;
    place-items: start center;
    width: 100%;
    height: 739px;
    text-align: center;
    overflow: hidden;
    --holeX: -9999px;
    --holeY: -9999px;
    --holeR: 110px;
    &:hover {
        cursor: none;
    } // 기본 커서 숨김(확대경)
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.8); // 흰색 80% 불투명
        backdrop-filter: blur(4px); // 블러도 살짝 주면 느낌 더 좋아짐
        z-index: 2; // 이미지 위, 확대경 아래
        transition: opacity 0.3s ease;
        pointer-events: none;
    }
}

.text {
    position: absolute;
    top: 237px;
    z-index: 5;
    h2 {
        font-size: 64px;
        font-weight: 700;
        line-height: 1.1;
        color: #000;
        margin-bottom: 30px;
    }
    .more {
        margin-bottom: 147px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: block;
            padding-top: 4px;
        }
    }
    p {
        color: #000;
        font-size: 20px;
    }
}

/* 이미지 */
.card-image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* 확대경 (hover시에 scale 1로) */
.card:hover > .magnifying-glass {
    transform: scale(1);
}

.magnifying-glass {
    position: absolute;
    width: 220px;
    height: 220px;
    transform: scale(0);
    transition: transform 0.7s ease;
    border-radius: 50%;
    background: transparent;
    background-repeat: no-repeat;
    opacity: 0; // JS에서 안/밖 판정하여 토글
    pointer-events: none;
    overflow: hidden;
    z-index: 3;

    /* 유리 느낌 (원본 그림자/광택 유지) */
    box-shadow: inset 1px 2px 4px 3px rgba(255, 255, 255, 0.3),
        inset 1px 2px 3px 2px rgba(255, 255, 255, 0.05),
        inset 0px -40px 47px -18px rgba(0, 0, 0, 0.2), inset -5px 5px 8px 0px rgba(0, 0, 0, 0.7),
        inset -30px 15px 20px -10px rgba(0, 0, 0, 0.25),
        inset -10px 10px 30px -5px rgba(0, 0, 0, 0.7), inset -10px 10px 10px -5px rgba(0, 0, 0, 0.3),
        inset 50px -50px 20px -10px rgba(108, 108, 108, 0.1), 1px 3px 8px 1px rgba(0, 0, 0, 0.4),
        15px 38px 20px -30px rgba(0, 0, 0, 0.5), 0px 0px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
