@use './../utils' as *;

* {
    box-sizing: border-box;
}

body {
    // background: $main-bg;
    overflow-x: hidden;
    background: black;
    font-family: 'Paperlogy';
    color: #fff;
    // @include paddingX(16px);
    @include desktop {
        // padding-left: 5%;
        // padding-right: 5%;
    }
    @include tablet {
        // padding-left: 5%;
        // padding-right: 5%;
    }
}
