@font-face {
    font-family: 'Paperlogy';
    font-weight: 900;
    src: url('/fonts/Paperlogy-9Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Paperlogy';
    font-weight: 800;
    src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Paperlogy';
    font-weight: 700;
    src: url('/fonts/Paperlogy-7Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Paperlogy';
    font-weight: 600;
    src: url('/fonts/Paperlogy-6SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Paperlogy';
    font-weight: 500;
    src: url('/fonts/Paperlogy-5Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 400;
    src: url('/fonts/Paperlogy-4Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 300;
    src: url('/fonts/Paperlogy-3Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 200;
    src: url('/fonts/Paperlogy-2ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Paperlogy';
    font-weight: 100;
    src: url('/fonts/Paperlogy-1Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Hedvig Letters Serif';
    font-weight: 400; /* Regular */
    font-style: normal;
    src: url('/fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf') format('truetype');
}
