.cubeView {
    position: relative;
    width: 100%;
    display: flex;
    gap: 128px;
}
.mySwiper {
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        width: 24px;
        height: 24px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('/images/clarity_arrow-line.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            width: 24px;
            height: 24px;
            left: 0;
            top: 0;
            filter: invert(1);
        }
        &::before {
            display: block;
            position: absolute;
            color: #fff;
        }
    }
    .swiper-button-prev {
        &::after {
            transform: rotate(-90deg);
        }
        &::before {
            content: 'PREV';
            left: 30px;
        }
        // left: 150px;
    }
    .swiper-button-next {
        &::after {
            transform: rotate(90deg);
        }
        &::before {
            content: 'NEXT';
            right: 30px;
        }
    }
    .swiper-pagination {
        position: absolute;
    }
}
.swiper {
    width: 600px;
    height: 600px;
    margin: 0 !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
