.cubeView {
    position: relative;
    width: 100%;
    display: flex;
    gap: 128px;
}
.mySwiper {
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        width: 80px;
        height: 24px;
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            position: absolute;
            background-image: url('/images/clarity_arrow-line.png');
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            width: 24px;
            height: 24px;
            // top: 50%;
            top: 0;
            // transform: translateY(-50%);
            filter: invert(1);
        }
        &::before {
            display: block;
            position: absolute;
            color: #fff;
            height: 24px;
            width: 50px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1000;
        }
    }
    .swiper-button-prev {
        &::after {
            left: 0;
            transform: rotate(-90deg);
        }
        &::before {
            content: 'PREV';
            right: 0;
        }
        left: 1000px;
        top: 600px;
    }
    .swiper-button-next {
        &::after {
            right: 0;
            transform: rotate(90deg);
        }
        &::before {
            content: 'NEXT';
            left: 5px;
        }
        left: 1200px;
        top: 600px;
    }
    .swiper-pagination {
        position: absolute;
        left: 840px;
        top: 580px;
    }
}
.swiper {
    width: 600px;
    height: 600px;
    margin: 0 !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.content {
    strong {
        font-size: 20px;
    }
    h3 {
        font-size: 48px;
        font-weight: 700;
        margin: 16px 0 45px 0;
    }
    .details {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    dl {
        width: 250px;
        margin-right: 50px;
        margin-bottom: 20px;
        &:last-of-type {
            width: 100%;
        }
        dt {
            color: #666;
        }
        dd {
            font-size: 18px;
            ul {
                display: flex;
                gap: 18px;
                li {
                    position: relative;
                    &:not(:last-child)::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 2px;
                        height: 10px;
                        background: #fff;
                        right: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .links {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        a {
            border: 1px solid #fff;
            padding: 10px 20px;
            display: block;
            color: #fff;
            font-weight: 600;
            &:first-child {
                color: #000;
                background: #fff;
            }
        }
    }
}
